.root {
    background-image: url("./background-login.jpg");
    position:fixed;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    background-position: center;
  }

.loginformbackground{
  position: absolute;
  background: rgb(34,193,195);
  background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
  max-width: 500px;
  min-width: 300px;
  max-height: 900px;
  width: 30%;
  height: 102%;
  top: -15%;
  left: 73%;
  margin: 100px auto;
  border-radius: 70px;
}

.loginform{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  max-width: 100%;
  min-width: 300px;
  width: 30%;
  height: 40%;
  margin: 220px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
}

.title{
  text-align: center;
  padding: 3rem 0;
  margin: 0;
  font-size: 3.5rem;
  font-family: Montserrat;font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}

.subtitle{
  text-align: center;
  font-family: Montserrat;font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px;
  font-size: 2rem;
}

.text{
  text-align: center;
  font-size: 0,5rem;
  font-family: Montserrat; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
}


.button{
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-family: Montserrat; font-style: normal; font-variant: normal;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34,193,195);
  background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

button:hover{
  opacity: 0.8;
}

#button{
  padding-bottom: 1.5rem;
}