.root {
  display: flex;
  flex-direction: column;
}
.NavBar {
  position: absolute;
  background-color: white;
  width: 30%;
  height: 99%;
  border-radius: 0 20px 20px 0;
  border: 2px solid black;
}