.root {
  position: relative;
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.NavBar {
  position: absolute;
  background-color: white;
  width: 30%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 1px 0px 20px 1px black;
  overflow: hidden;
}

