.root {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.NavBar {
  position: absolute;
  background-color: white;
  width: 30%;
  height: 100%;
  box-shadow: 1px 0px 20px 1px black;
  padding: 15px;
  overflow: hidden;
}

