.root{
  /* overflow: scroll; */
  /* height: 90vh */
  height: 100%;
  position: relative;
}

.title {
  display: flex;
  justify-content: space-around;
}

.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}

.solid {
  border-top: 3px solid #bbb;
}
