.root{
  /* overflow: scroll; */
  /* height: 90vh */
  height: 100%;
  position: relative;
}

.title {
  display: flex;
  justify-content: space-around;
}

.search {
  display: flex;
  justify-content: flex-start;
}

.SBLabels {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 3%;
}

.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.searchBarRemoval {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}